mixin jpeg(name)
    img(src=require(`./img/${name}.jpeg`) alt=name class="image")

mixin jpg(name)
    img(src=require(`./img/${name}.jpg`) alt=name class="image")

mixin png(name)
    img(src=require(`./img/${name}.png`) alt=name class="image")

mixin svg(name)
    img(src=require(`./svg/${name}.svg`) alt=name class="image")
